html {
    font-size: 10px; /* px means "pixels": the base font size is now 10 pixels high */
    font-family: "Open Sans", sans-serif; /* this should be the rest of the output you got from Google Fonts */
  }
  
  h1 {
    font-size: 60px;
    text-align: center;
  }
  
  h2 {
    font-size: 40px;
    text-align: center;
  }

  p,
  li {
    font-size: 20px;
    line-height: 2;
    letter-spacing: 1px;
  }
  
  html {
    background-color: #df9f9f;
  }
  
  body {
    width: 600px;
    margin: 0 auto;
    background-color: #f9ecec;
    padding: 0 20px 20px 20px;
    border: 3px solid #391313;
  }

  h1 {
    margin: 0;
    padding: 20px 0;
    color: #732626;
    text-shadow: 1px 1px 0px #4d1919;
  }
  